/* Colors */

$background: white;
$primary-color: #1d34aa;
$secondary-color: #FCB42A;
$accent-color: #FF0F11;
$alternate-background: #fafafa;
$alternate-color: #404040;
$link-color: $primary-color;
$link-hover-color: darken($link-color, 15%);
$highlight: #ffeea8;
$error: #D33C40;
$new-variable: bold;
$radiusImg: 1rem 1rem 1rem 25rem;